*{
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
}



html{
    scroll-behavior:smooth;
}

/* scroll reveal */
html.sr .load-hidden {
    visibility: hidden;
}

body{
    font-family:helvetica;
    position: relative;
}

/* HEADING SECTION */
.active{
    text-decoration: underline;
}

.nav-resume-link{
 color: #000 !important;
 /* border: 1px solid #000 !important; */
 background-color: #00d99b !important;
}

.nav-resume-link:hover{
    text-decoration: none !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active {
    color: #000 !important;
}

header .nav-link:hover{
    text-decoration: underline;
}

.heading{
    font-weight: 700;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #55efc4;
    
}
.navbar{
    background-color: #55efc4;
    color: #000;
}



/* WELCOME SECTION */
#welcome{
    /* clear: left; */
    text-align: center;
    padding-top: 20%;
     
}
#title{
    font-weight: 600;
}
#welcome p{
    font-size: 1.25rem;
    font-weight: 400;
}

.social-img{
    margin-top: 10px;
    
}

.social-img:hover{
    transform: rotate(5deg);
}


/* ABOUT SECTION */
#about{
    width: 100%;
    padding: 100px 0 ;
}
.about-main-div{
    /* width: 90%; */
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.about-skills-wrapper{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
#about .coding-tool{
    background-color: #55efc4;
    color: #000;
}

.resume-div{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 6rem;
}

.description-text{
    font-size: 1.25rem;
    line-height: 1.5;
}

.about-skills-container{
    margin-bottom: 1rem;
}

.about-content{
    padding: 1rem 1.5rem;
    text-align: justify; 
    flex: 1;
    background-color: #c7ffef;
    
    
}

.skills-section{
    flex: 1;
    padding: 1rem 1.5rem; 
    text-align: center;
    background-color: #a6ffe6;
}

.center{
    text-align: center;
}

.section-sub-heading{
    text-align:center;
    margin-bottom: 15px;
    font-weight: 600;
   
}

.group:after{
    content: "";
    display: table;
    clear: both;
}

 
#me{
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin: 10px auto;
    border: 3px solid #55efc4;
    border-radius: 50%;
}

.resume{
    text-decoration:none;
    color: #000;
    font-weight: bold;
    border:2px solid #55efc4;
    background-color: #55efc4;
    padding:5px;
    border-radius: 5px;
    text-align: center;

}

.resume:hover{
    color: #000 !important;
    text-decoration: none !important;

}




#resume:hover{
    background-color:#fff;
}


/* CONTACT SECTION */
#contact{
    text-align: center;
    margin: 150px auto;
}

#contact a{
    text-decoration:none;
    color:black;
    font-size: 1.875rem;
    border: 2px solid #55efc4;
    padding: 10px;
    border-radius: 5px;
    background-color: #55efc4;

}

#contact a:hover{
    background-color:#fff;
}

/* FOOTER */
footer p{
    padding: 20px 0;
    margin-bottom: 0;
}
footer{
    text-align: center;
    background-color: #55efc4;
}

@media(max-width: 800px){
    .about-skills-wrapper{
        flex-direction: column;
    }

    .about-content{
        background-color: #55efc4;
        margin-top: 3rem;
    }

    .skills-section{
        background-color: #fff;
        margin-top: 3rem;
    }

    #about .coding-tool{
        background-color: #55efc4;
        color: #000;
    }

    .resume-div{
        margin-bottom: 100px;
    }

    
}

@media (max-width: 768px) { 

    /* .resume-div{
        margin: auto;
    } */

    #welcome{
        padding-top: 40%;
    }
}

@media (max-width: 600px) {
    *{
        box-sizing: border-box;
    }
    #welcome{
        padding-top: 50%;
    }
   
    .resume-div{
        width: 100%;
    }
    

    

    #menu{
        display: block;
        margin-right: 10px;
        padding: 10px 0;
    }
   

    

    

}