* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

:root {
  --tab-height: 50px;
}


/* Hero Section */
.name {
  position: absolute;
}

.hero-description {
  margin-top: 70px;
}

.hero-content {
  max-width: 80%;
  margin-top: 10px;
  position: relative;
}

.hero-wrapper {
  margin-bottom: 50px;
}

.photo-container {
  /* width: 100px; */
  height: 280px;
  /* border-radius: 50%; */
  background-image: linear-gradient(to left bottom, #000000, #0077F2);
}

.photo-container img {
  object-fit: cover;
  object-position: top;
  max-height: 100%;
  width: 100%;
}
/* ------- */


/* Tabs */

.tab-container {
  position: relative;
  margin-top: -50px;
}

.tab-bar {
  height: var(--tab-height);
  width: 100%;
  background-color: #000000;
  position: absolute;
}

/* Experience  */

.logo-container {
  width: 48px;
  margin-right: 20px;
}

.logo-container img {
  width: 48px;
}

.date-location {
  font-size: 14px;
}

.experience {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.experience .description-list {
  padding: 0px;
  list-style-position: inside;
  list-style: none;
}

.experience .description-list li {
  position: relative;
  padding-left: 20px;
}

.experience .description-list li::before {
  content: "•";
  position: absolute;
  left: 0px;
  color: #333333;
}

.location {
  color: #333333;
  margin-right: 10px;
  padding: 0px;
}

.location::after {
  content: '|';
  margin-left: 10px;
}

.company {
  font-size: 24px;
}

.company a {
  text-decoration: none;
}

.position {
  font-size: 20px;
  font-weight: bold;
}




/* jquery-ui overrides */

#tab-container .ui-widget.ui-widget-content {
  border: none;
}



#tab-container .ui-widget-header {
  border: none;
  background-color: #000000;
  height: var(--tab-height);
}

#tab-container .ui-tabs {
  padding: 0px;
}

#tab-container .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  background-color: transparent;
}

#tab-container .ui-corner-all {
  border-radius: 0px;
}

#tab-container .ui-tabs-nav {
  display: flex;
  align-items: center;
}

#tab-container .ui-tabs .ui-tabs-nav {
  padding: 0px;
}

#tab-container .ui-state-default, .ui-widget-header a {
  color: #ffffff !important;
}

#tab-container .ui-tabs-active a {
  color: #0077F2 !important;
}

#tab-container .ui-tabs .ui-tabs-panel {
  padding-top: 40px;
}

#accordion h3 {
  font-weight: 500;
  font-size: 1.3rem;
}

#accordion .ui-state-default {
  background: #fff;
  border-color: #ccc;
  /* border: none;
  border-bottom: 1px solid #ddd; */
}

#accordion .ui-state-active {
  background: #0d6efd;
}

@media (min-width: 768px) {
  .hero-description {
    margin-top: 90px;
  }

  .hero-wrapper {
    min-height: 600px;
    max-height: 100vh;
    margin-bottom: 0px;
  }

  .photo-container {
    width: 100%;
    height: 560px;
    max-height: 100vh;
    border-radius: unset;
    position: relative;
    background-image: linear-gradient(to left bottom, #000000, #0077F2);
  }

  .photo-container img {
    object-fit: contain;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 0.25rem;
  }

  .hero-content {
    max-width: 80%;
    margin-top: 80px;
  }

}

@media (min-width: 992px) {
  .photo-container {
    height: 740px;
  }

  .about-text {
    max-width: 50%;
  }

  .hero-content {
    margin-top: 150px;
  }
}